.booking-form {
  width: 834px;
  height: 900px;
  margin: 0 auto;
  background-color: #ebe4dc;
}
.booking-form .booking-form-title {
  font-family: ProximaNova;
  font-size: 60px;
  margin-top: 70px;
}
.booking-form form {
  display: flex;
}
.booking-form form .small-text-entry-box {
  width: 344px;
  height: 58px;
}